.hero-left{
    border-bottom-right-radius: 90px;
    box-shadow: 10px 0px 20px -2px rgb(255, 255, 255);
}
.carousel-container{
    border-bottom-right-radius: 90px;
    /* top: 90%; */
}

.hero-text-sm::before{
    content: "";
    display: inline-block;
    width: 90px;
    height: 5px;
    margin-bottom: 2px;
    background: rgb(35, 38, 94);
    color: aqua;
}

.review-section{
    border-top-left-radius: 100px;
}

.meeting-photo{
    border-top-left-radius: 100px;
    border-bottom-right-radius: 100px;
}
.indiana-scroll-container{
    /* border-radius: 0% !important; */
    border-top-right-radius: 0%;
    border-top-left-radius: 0%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 100px;
}

.swiper {
    width: 100%;
    height: 40%;
    margin-top: 20px;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    display: flex;
    justify-content: center;
  }
  .swiper-slide img {
    display: block;
    width: 150px;
    max-width: 100%;
    height: 100px;
    object-fit: contain;
  }


@media only screen and (max-width: 768px)  {
    .carousel-container{
        top: 90%;
        width: 100%;
    }
    .hero-left {
        box-shadow: 0px 50px 40px 2px rgb(255, 255, 255);
    }
    .carousel-item{
        border-radius: 0;
    }
}
